services:
  db_user:
    container_name: user_db
    image: postgres
    ports:
      - "5433:5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      retries: 5
      timeout: 5s

  app_user:
    container_name: user_app
    image: user-app:0.0.1
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped
    build:
      dockerfile: Dockerfile
    depends_on:
      db_user:
        condition: service_healthy

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /kafka/data
    volumes:
      - ./kafka-data:/kafka/data